<!DOCTYPE html>
<html>
  <head>
    <title>DeviseTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if admin_signed_in? %>
      <%= render "admins/home/header"%>
    <% elsif user_signed_in? %>
      <%= render "users/home/header"%>
    <% else %>
      <%= render "home/header"%>
    <% end %>
  


  <div>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  </div>

  <div class= " w-full h-full p-4 m-8 mx-auto">
    <%= yield %>
  </div>
  </body>
</html>
